<div class="right_col" role="main" style="height: 900px;">

  <div class="page-title">
    <div class="title_left">
      <h1>Factura recurrente</h1>
    </div>
  </div> <!-- Fin de titulo-->
  <div class="clearfix"></div>
  <hr>

</div>
