
<!--
<p id="notice"> notice ></p>

<p>
  <strong>Asunto email:</strong>
   @plantillas_email.asunto_email
</p>

<p>
  <strong>Msg email:</strong>
   @plantillas_email.msg_email
</p>

<p>
  <strong>Comprobante:</strong>
   @plantillas_email.comprobante
</p>

<p>
  <strong>Negocio:</strong>
   @plantillas_email.negocio
</p>

 link_to 'Edit', edit_plantillas_email_path(@plantillas_email)
 link_to 'Back', plantillas_emails_path
-->
