<div class="modal fade" id="modalCajaChica" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-caja-chica-title"></h4>
        </div>
        <div class="modal-body-caja-chica modal-body" id="modal-body-caja-chica">
          
        </div>
        <div class="modal-footer" id="modal-footer-caja-chica">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>