<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Crear Proveedor</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="x_panel" style="height: 600px;">

		<%= render 'form' %>

		<%= link_to 'Back', proveedores_path %>

    </div>
  </div>
</div>
