<form action="">
  <div class="col-md-12 col-sm-12 col-xs-12">


      <div class="tab-content">

        <div class="tab-pane active">
            <div class="form-group col-md-10 col-sm-12 col-xs-12">
              <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Para: </label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                <input type="text" class="form-control col-md-5 col-xs-12 text_field" value= "" >
              </div>
            </div>

        </div>
      </div>

  </div>
</form>
