<div class="modal fade" id="modalCatCompraCancelada">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-cat_compra_cancelada-title"></h4>
        </div>
        <div class="modal-body_cat_compra_cancelada" id="modal-body_cat_compra_cancelada">
          
        </div>
        <div class="modal-footer" id="modal-footer_cat_compra_cancelada">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>