<tr id="marca_producto_<%= marca_producto.id%>" class="rowsearch">
  <td><%= marca_producto.nombre %></td>

  <td>
    <% if can? :update, marca_producto %>
      <%= link_to 'Editar', edit_marca_producto_path(marca_producto), html_options = {class: "btn btn-info btn-xs", remote: true} %><i class="fa fa-pencil"></i>
    <% end %>
  </td>

  <td>
    <% if can? :destroy, marca_producto %>
      <%= link_to 'Borrar', marca_producto, remote: true, method: :delete, data: { confirm: "¿Desea borrar la marca: #{marca_producto.nombre}?"}, class: "btn btn-danger btn-xs" %><i class="fa fa-trash-o">	
    <% end %>
  </td>
</tr>