<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @marca_producto.nombre %>
</p>

<%= link_to 'Edit', edit_marca_producto_path(@marca_producto) %> |
<%= link_to 'Back', marca_productos_path %>
