<div class="modal fade" id="modalPagosPendientes" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-pagos-pendientes-title"></h4>
      </div>
      <div class="modal-body-pagos-pendientes modal-body" id="modal-body-pagos-pendientes">
          
      </div>
      <div class="modal-footer" id="modal-footer-pagos-pendientes">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
