<div class="right_col" role="main">
  <% flash.each do |key, value| %>
    <script>
      $(document).ready(function(){
        new PNotify({
          title: 'Mensaje de la aplicación',
          text: '<%= value %>!',
          type: 'success'
        });
      });
    </script>
  <%end%>

  <div class="page-title">
    <div class="title_left">
      <h1>Presentaciones de Articulos</h1>
    </div>
  </div>
  <div class="clearfix"></div> 
  <div class="col-md-12 col-sm-12 col-xs-12 ">
  <div class="row">
      <div class="col-ms-12">
        <div class="div-add-button">

          <%= link_to new_presentacion_producto_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-presentacion_producto-btn"} do %>  
          <span class="glyphicon glyphicon-plus-sign circleglyphicon" style=""></span>
          Crear Presentacion
        <%end%>

        </div>
      </div>
    </div>

    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>

        <table class="table table-striped responsive-utilities jambo_table data-table" id="tabla_presentacion_productos">
          <thead>
            <tr>
              <th class="column-title">Nombre</th>
              <th class="column-title"></th>
              <th class="column-title"></th>
              
            </tr>
          </thead>

          <tbody id="tb_presentacion_productos">
             <%= render @presentacion_productos%>
          </tbody>
        </table>
        <%= render 'modalPresentacionProductos'%>
      </div>
    </div>

    
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });
    
  </script>
</div>
