<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @presentacion_producto.nombre %>
</p>

<%= link_to 'Edit', edit_presentacion_producto_path(@presentacion_producto) %> |
<%= link_to 'Back', presentacion_productos_path %>
