<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Categorias de Artículos</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-ms-12">
        <div class="div-add-button">
          <% if can? :create, CatArticulo %>
            <%= link_to new_cat_articulo_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-categoria-btn"}  do %>
             <span class="fa fa-plus-square" style=""></span>
             Añadir Categoría
            <%end%>
          <% end %>
           

        </div>
      </div>
    </div>
    
    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>
      
        <table class="table table-striped responsive-utilities jambo_table responsive no-wrap data-table" id="tabla_categorias">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;">Nombre de Categoría</th>
              <th class="column-title" style="text-align: center;">Descripción</th>
              <th class="column-title" style="text-align: center;"></th>
              <th class="column-title" style="text-align: center;"></th>
            </tr>
          </thead>

          <tbody id="tb_categorias_articulos">
            <%= render @cat_articulos%>
          </tbody>
        </table>

        <%= render 'modalCategorias'%>
      </div>
    </div>
  </div>
 
<%= javascript_include_tag "cat_articulos" %>

    

