

<div class="" role="main">
  <div class="page-title">
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div>

      <table class="table table-striped responsive-utilities jambo_table data-table">
        <thead>
          <tr>
            <th class="column-title">Nombre Sucursal</th>
            <th class="column-title">Representante</th>
            <th class="column-title">Direccion</th>
            <th class="column-title">Municipio</th>
            <th class="column-title">Estado</th>
            <th class="column-title"></th>
            <th class="column-title"></th>
            
          </tr>
        </thead>

        <tbody id="tb_sucursales">
          <%= render @sucursals %>
        </tbody>        
      </table>
      <%= render 'sucursals/modalSucursales' %>
    </div>
  </div>
  <script>
    $(document).ready(function(){
  
      $('.data-table').DataTable({
        responsive: true,
        "language":{
          "info": "Mostrar pag _PAGE_ de _PAGES_",
          "lengthMenu": "Mostrar _MENU_ registros",
          "zeroRecords": "No hay coincidencias",
          "search": "Buscar: _INPUT_",
          "infoFiltered": " - encontrados en _MAX_ registros",
          "paginate": {
            "previous": "Anterior",
            "next" : "siguiente",
            "last" : "último",
            "first" : "primero"
          }
        }
      });
    });
  </script>
</div>
