<div class="right_col" role="main">
  <% flash.each do |key, value| %>
    <script>
      $(document).ready(function(){
        new PNotify({
          title: 'Mensaje de la aplicación',
          text: '<%= value %>!',
          type: 'success'
        });
      });
    </script>
  <%end%>

  <div class="page-title">
    <div class="title_left">
      <h1>Cajas de venta</h1>
    </div>
  </div>
  <div class="clearfix"></div> 
  <div class="col-md-12 col-sm-12 col-xs-12 ">
  <div class="row">
      <div class="col-ms-12">

        Las cajas de venta son aquellos puntos de cobro que la sucursal posee
        <div class="div-add-button">
          <% if can? :create, CajaSucursal %>
            <%= link_to new_caja_sucursal_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-caja-btn"} do %>  
              <span class="fa fa-plus-square" style=""></span>
              Crear Caja Venta
             
            <%end%>
          <% end %>
        </div>
      </div>
    </div>

    

      <div>

        <table class="table table-striped responsive-utilities jambo_table" id="tabla_cajas_sucursal">
          <thead>
            <tr>
              <th class="column-title" style="text-align: center;" >Número</th>
              <th class="column-title" style="text-align: center;">Nombre</th>
              <th class="column-title" style="text-align: center;">Saldo</th>
              <th class="column-title" style="text-align: center;">Asignada a</th>
              <th class="column-title" style="text-align: center;" colspan="2">Acciones</th>
              
            </tr>
          </thead>

          <tbody id="tb_articulos">
             <%= render @caja_sucursals%>
          </tbody>
        </table>
        <%= render 'modal_caja_sucursal'%>
      </div>
    </div>
   
  </div>
</div>
