// Place all the styles related to the Facturas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .check {
  width:30px;
  height:30px;
  background-color: !important;
  }
