// Place all the styles related to the punto-venta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.main-row-pos{
	height: 910px; 
	min-height: 910px;
}

.panel-pos, .col-pos{
  height: 95%;
}

#table_sales{
	margin-top: 5%;
	/*margin-bottom: 2%;*/
	overflow: scroll;
}

#botones-venta{
	position: absolute;
	right: 50%;
	left: 0%;
	bottom: 0px;
}

#panel-pos-body{
	height: 100%;
	position: relative;
}


