<div class="right_col" style="padding-top: 60px;">
  <h1 class="page-header">Configuración del negocio</h1>
  <div class="row">
    <!-- left column -->
    <%= render 'form' %>
  </div>

  <div class="row" style="padding-top: 60px;">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Sucursales</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <%= render 'sucursals/index' %>
        </div>
      </div>
    </div>
    
  </div>
</div>