<div class="container-fluid">
	<h1 class="page-header">Tienda</h1>
  <!-- Default panel contents -->

  <!-- Table -->
  <div class="row" id="table-row">
  	<div class="col-md-12">
  		<table class="overflow-y">
			<thead>
				<tr>
					<th>Código</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
  	</div>
  </div>
  <!--Segunda fila.-->
  <div class="row eq-row">
    <!--Columnas para Agregar Productos-->
  	<div class="col-md-4">
  		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Código de producto #</span>
		  <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
		</div>
  	</div>
  	<div class="col-md-2">
  		<button type="button" class="btn btn-success form-control">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:yellow"></span> Agregar
  		</button>
  	</div>
  	<div class="col-md-1 col-md-offset-3">
  		<h1 class="no-top-margin">Total:</h1>
  	</div>
  	<!--Columna para totales-->
  	<div class="col-md-2">
  		<h1 class="no-top-margin" id="total-price"><label for="" class="label label-danger">0000.00</label></h1>
  	</div>
  </div>
  <!-- Tercera fila -->
  <div class="row store-tools-row">
  	<div class="col-md-6">
  		<div class="form-inline">

		    <button class="button transparent-button" rel="tooltip" title="Buscar producto..."><span class="glyph circleglyphicon glyphicon glyphicon-search img-circle" aria-hidden="true"></span></button>
		    <button class="button transparent-button" rel="tooltip" title="Quitar producto"><span class="glyph circleglyphicon glyphicon glyphicon-minus img-circle" aria-hidden="true"></span></button>
		    <button class="button transparent-button" rel="tooltip" title="Cancelar compra"><span class="glyph circleglyphicon glyphicon glyphicon-remove img-circle" aria-hidden="true"></span></button>
		    <button class="button transparent-button" rel="tooltip" title="Limpiar lista"><span class="glyph circleglyphicon glyphicon glyphicon-plus img-circle" aria-hidden="true"></span></button>
  		</div>
  	</div>
  	<!-- Columna para especificar importe pagado y cambios -->
  	<div class="col-md-1 col-md-offset-3">
  		<h4 class="">Paga con:</h4>
  	</div>
  	<!--Columna para totales-->
  	<div class="col-md-2">
  		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon1">$</span>
  			<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">	
  		</div>
  	</div>
  </div>
  <!-- Cuarta fila -->
  <div class="row">
  	<!-- Columna para especificar importe pagado y cambios -->
  	<div class="col-md-1 col-md-offset-9">
  		<h4 class="">Cambio:</h4>
  	</div>
  	<!--Columna para totales-->
  	<div class="col-md-2">
  		<div class="input-group">
  			<span class="input-group-addon" id="basic-addon1">$</span>
  			<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">	
  		</div>
  	</div>
  </div>

  
   
</div>
