<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h1>Categorias de Gastos</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-ms-12">
        <div class="div-add-button">

           <%= link_to new_categoria_gasto_path, {remote: true, class: "btn btn-info btn-lg btn-add", id: "anadir-gasto-btn"}  do %>
             <span class="fa fa-plus" style=""></span>
             Crear categoría
          <%end%>

        </div>
      </div>
    </div>
    
    <hr style="border-style: solid; border-width: 2px;">

    <div class="row">
      <div>
      
        <table class="table table-striped responsive-utilities jambo_table responsive no-wrap data-table" id="tabla_categorias">
          <thead>
            <tr >
              <th class="column-title" style="text-align: center;">Nombre de Categoría</th>
              <th class="column-title" style="text-align: center;">Descripción</th>
              <th class="column-title" style="text-align: center;"></th>
              <th class="column-title"></th>
            </tr>
          </thead>

          <tbody id="tb_categorias_gastos">
            <%= render @categoria_gastos%>
          </tbody>
        </table>

        <%= render 'modalCategoriaGastos'%>
      </div>
    </div>
  </div>
  <script>  
  
    $('.data-table').DataTable({
      responsive: true,
      "language":{
        "info": "Mostrar pag _PAGE_ de _PAGES_",
        "lengthMenu": "Mostrar _MENU_ registros",
        "zeroRecords": "No hay coincidencias",
        "search": "Buscar: _INPUT_",
        "infoFiltered": " - encontrados en _MAX_ registros",
        "paginate": {
          "previous": "Anterior",
          "next" : "siguiente",
          "last" : "último",
          "first" : "primero"
        }
      },
      scrollY: "480px",
      scrollCollapse: true,
      //dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });

  </script>
