<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Confirmación</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="x_panel" style="height: 600px;">
		<p>Welcome <%= @email %>!</p>

		<p>You can confirm your account email through the link below:</p>

		<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
    </div>
  </div>
</div>
