<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="x_panel" style="height: 600px;">
		<p>Hello <%= @resource.email %>!</p>

		<p>We're contacting you to notify you that your password has been changed.</p>
	</div>
  </div>
</div>
