<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <h3>Instrucciones para cambiar password</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="x_panel" style="height: 600px;">
		<p>Hello <%= @resource.email %>!</p>

		<p>Someone has requested a link to change your password. You can do this through the link below.</p>

		<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

		<p>If you didn't request this, please ignore this email.</p>
		<p>Your password won't change until you access the link above and create a new one.</p>
    </div>
  </div>
</div>
